[flake8]
ignore = 
    E251,
    E402,
    E712,
    E302,
    W,
    D,
    F,
    N,
    C,
    I
max-line-length = 79
exclude = 
    .tox,
    .git,
    __pycache__,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    develop
    venv
    test
max-complexity = 10
import-order-style = pep8